In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\moham\Downloads\tweets-engagement-metrics.csv")

In [7]:
df.set_index('UserID')

,Unnamed: 0,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
UserID,,,,,,,,,,,,,,,,,,,
tw-1267804344,0,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
tw-27229880,1,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
tw-27229880,2,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
tw-27229880,3,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
tw-27229880,4,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tw-8184962,102057,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
tw-2510632527,102058,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
tw-148753637,102059,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
tw-448919812,102060,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
tw-252561397,102061,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [8]:
pd.set_option('display.max.rows' , 234)

In [9]:
df

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [10]:
df.drop_duplicates()

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [24]:
Data_Frame_Klout = df.groupby('Country').sum(numeric_only = True).sort_values(by="Klout", ascending=False)

In [26]:
Data_Frame_Klout

,Unnamed: 0,LocationID,Hour,Day,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment
Country,,,,,,,,,,
United States,3898485234,199638373.0,629896,817880,16576,739175675.0,365482.0,15277.0,2167238.0,19875.002044
United Kingdom,452815155,30839325.0,90814,156292,3350,26218332.0,61000.0,0.0,404576.0,4201.058446
India,141943757,9247638.0,78150,113218,2850,9699156.0,98891.0,0.0,256947.0,2844.103337
Germany,53306218,3838849.0,34213,56890,1126,6355849.0,32069.0,0.0,153265.0,1397.138957
France,42141298,3002342.0,37738,58180,2167,3857686.0,39940.0,0.0,151986.0,1435.474998
Australia,6563380,254106.0,39140,47940,1141,5056916.0,25754.0,0.0,108360.0,1180.224993
Spain,78192450,5763179.0,20401,35572,969,3033075.0,21269.0,0.0,85011.0,788.627227
Ireland,38483568,2392730.0,12992,23550,368,1333718.0,6965.0,0.0,56652.0,589.516667
Japan,38446996,2449626.0,17215,21483,414,1910911.0,5327.0,0.0,52231.0,319.159467
Canada,8127380,597005.0,14758,19532,403,6846462.0,7977.0,0.0,49964.0,572.204286
Brazil,7201194,422206.0,17609,22810,1008,1800152.0,14603.0,0.0,48248.0,610.870803
Turkey,39394152,2988726.0,10798,20749,71,32935109.0,1551.0,0.0,44627.0,59.000000
Indonesia,25654641,1564939.0,11526,15562,146,1453871.0,3871.0,0.0,38759.0,215.596666
Netherlands,31627463,2146919.0,9468,16986,381,2075828.0,10227.0,0.0,38318.0,406.431668
China,6715397,529624.0,12473,14212,752,362611.0,12803.0,0.0,35666.0,417.657169
Philippines,28669130,2028499.0,8417,14331,239,1408943.0,7659.0,0.0,30408.0,379.186278
Italy,20499072,1266564.0,7124,12023,344,655580.0,5356.0,0.0,28584.0,287.376000
Argentina,182574,11110.0,7729,9450,293,730628.0,6030.0,0.0,23429.0,122.378868
Mexico,16977485,1110071.0,8711,8613,139,672946.0,1694.0,0.0,20376.0,64.480904
Sweden,20081225,1522415.0,4740,8351,225,1358722.0,6227.0,0.0,18291.0,259.666666
South Korea,18755583,1423521.0,7550,7781,317,2273812.0,4654.0,0.0,18014.0,142.426472
Finland,4283213,353639.0,4414,7161,207,339085.0,2980.0,0.0,17151.0,216.340435
Taiwan,14724549,1129098.0,4988,6064,244,543773.0,5581.0,0.0,15663.0,155.651334
Colombia,2833023,215203.0,4172,5344,137,473931.0,3478.0,0.0,14074.0,73.625488
New Zealand,11921647,833202.0,5298,6204,129,653474.0,2760.0,0.0,13847.0,228.749999
South Africa,11818292,898731.0,3431,5255,130,332623.0,3036.0,0.0,12892.0,140.660001
Belgium,1144962,59511.0,2659,4116,128,610017.0,3132.0,0.0,11604.0,129.003333
Venezuela,30503250,1872410.0,3896,4602,122,508650.0,8790.0,0.0,11522.0,39.838333
Pakistan,8236005,581531.0,2635,3906,125,539499.0,1938.0,0.0,11180.0,98.250000
Poland,8847559,647817.0,2507,4565,69,261821.0,1743.0,0.0,10401.0,50.387440
Nigeria,7129735,498504.0,2430,3386,64,386488.0,1673.0,0.0,9205.0,92.619999
United Arab Emirates,11192511,846217.0,3017,4590,86,540156.0,733.0,0.0,8635.0,89.971147
Thailand,8384171,640921.0,2406,3646,86,366754.0,3860.0,0.0,8367.0,50.633333
Serbia,6630780,504307.0,1900,3166,67,200574.0,792.0,0.0,7911.0,92.666665
Chile,1536795,125094.0,2778,3376,70,524873.0,848.0,0.0,7880.0,25.162190
Bangladesh,750595,37815.0,2273,3172,20,284167.0,198.0,0.0,7592.0,87.333334
Austria,646634,31670.0,1619,2675,59,156825.0,1339.0,0.0,6916.0,62.740645
Kenya,4591602,291237.0,1481,2380,57,500904.0,1686.0,0.0,6106.0,35.999999
Switzerland,5681625,433976.0,1257,2244,55,120627.0,1241.0,0.0,5940.0,51.906667
Denmark,1363535,110579.0,1216,2358,53,74059.0,1193.0,0.0,5418.0,101.791666
Russia,4788027,360955.0,1339,2367,52,316239.0,1798.0,0.0,5284.0,16.994723
Malaysia,4233855,271635.0,1538,2379,61,163538.0,3389.0,0.0,5166.0,38.666666
Czech Republic,1073406,86228.0,1192,1890,59,106878.0,1146.0,0.0,5008.0,43.250000
Peru,4537521,321123.0,2020,2028,61,102139.0,1650.0,0.0,4710.0,46.886499
Norway,3902052,274218.0,1083,2012,71,97753.0,2344.0,0.0,4561.0,42.233333
Israel,2817003,174251.0,1068,1758,38,257459.0,899.0,0.0,4532.0,52.619549
Romania,4064027,305934.0,1079,1768,65,76644.0,922.0,0.0,4320.0,55.333333
Viet Nam,18653007,1148508.0,1781,2536,0,11691.0,50.0,0.0,4300.0,33.000000
Hungary,1970782,152118.0,992,2191,44,58184.0,1297.0,0.0,4035.0,52.083333
Portugal,3176990,235977.0,1064,1509,45,158381.0,540.0,0.0,3613.0,41.966667
Luxembourg,1745310,111541.0,454,944,1,91720.0,122.0,0.0,3176.0,34.600000
Saudi Arabia,2709240,206297.0,820,1357,22,593607.0,355.0,0.0,3041.0,27.241171
Morocco,2303224,156888.0,811,1204,14,46767.0,635.0,0.0,3032.0,29.500000
Latvia,1798031,114643.0,698,945,20,37895.0,777.0,0.0,2633.0,17.000000
Ghana,974255,74485.0,697,846,25,44192.0,662.0,0.0,2335.0,14.500000
Greece,960735,73420.0,559,1000,25,55185.0,240.0,0.0,2281.0,20.166667
Uganda,2099489,158837.0,602,762,39,33089.0,926.0,0.0,1948.0,15.666667
Panama,1571773,110847.0,707,720,29,58496.0,468.0,0.0,1929.0,11.960000
Ecuador,526103,43502.0,690,860,28,25903.0,1125.0,0.0,1899.0,15.170000
Ukraine,2022915,153101.0,545,745,16,31106.0,883.0,0.0,1826.0,6.796595
Uruguay,3755833,230530.0,496,508,9,100005.0,99.0,0.0,1591.0,5.726667
Qatar,1038810,78121.0,249,455,15,30253.0,144.0,0.0,1290.0,3.000000
Egypt,295779,24565.0,290,579,5,50943.0,38.0,0.0,1146.0,12.272702
Slovenia,990872,75532.0,225,439,23,24795.0,2654.0,0.0,1114.0,6.000000
Jordan,834707,52954.0,240,480,14,95665.0,85.0,0.0,1059.0,6.709338
Bulgaria,197455,15336.0,340,637,21,25042.0,662.0,0.0,1057.0,13.000000
Bolivia,112957,7160.0,333,376,7,29903.0,114.0,0.0,1052.0,5.620000
Nepal,869014,59457.0,371,443,14,58720.0,521.0,0.0,1045.0,13.000000
Sri Lanka,1191920,90574.0,291,534,16,34121.0,221.0,0.0,1014.0,11.000000
Guinea,371965,28644.0,227,436,0,19754.0,0.0,0.0,1003.0,1.000000
Singapore,1057627,80517.0,410,431,2,70212.0,35.0,0.0,932.0,4.666667
Estonia,252154,21216.0,301,425,11,20897.0,231.0,0.0,856.0,10.600000
Saint Vincent and the Grenadines,642485,48887.0,230,242,0,16221.0,1.0,0.0,828.0,2.480000
Croatia,205164,16272.0,221,285,12,14618.0,194.0,0.0,813.0,15.000000
Cyprus,163115,13140.0,262,256,2,34777.0,164.0,0.0,810.0,0.500000
Vietnam,2550825,156941.0,352,465,8,11222.0,214.0,0.0,791.0,11.500000
Slovakia,717003,54589.0,174,296,8,5080.0,269.0,0.0,701.0,5.000000
Iceland,255825,19906.0,121,309,4,12018.0,180.0,0.0,671.0,7.333333
Georgia,184877,14870.0,158,187,0,5672.0,0.0,0.0,632.0,1.000000
Nicaragua,1099595,76967.0,433,311,3,4804.0,8.0,0.0,578.0,0.400000
Cameroon,70110,5520.0,102,154,6,16124.0,191.0,0.0,530.0,-1.000000
Dominican Republic,115453,9547.0,158,232,2,3683.0,98.0,0.0,486.0,8.300000
Bosnia and Herzegovina,61117,3925.0,125,203,3,2222.0,24.0,0.0,460.0,2.000000
Cuba,111397,8930.0,132,182,2,10120.0,2.0,0.0,446.0,6.660000
Bahamas,38505,1970.0,74,113,10,1415.0,91.0,0.0,430.0,0.000000
Lebanon,435585,27780.0,138,243,1,2122.0,4.0,0.0,427.0,12.833333
Mauritius,322135,20989.0,96,180,2,16019.0,13.0,0.0,420.0,3.000000
Belarus,48618,2472.0,113,196,7,5992.0,117.0,0.0,403.0,0.330960
Venezuela (Bolivarian Republic of),1018325,62750.0,160,129,0,9644.0,4.0,0.0,399.0,0.270000
El Salvador,107826,9015.0,181,187,2,19662.0,10.0,0.0,386.0,3.565833
Hong Kong,152343,11774.0,124,65,1,9922.0,12.0,0.0,386.0,2.000000
Lithuania,348630,22265.0,81,204,8,7749.0,128.0,0.0,370.0,1.000000
Guatemala,202686,15531.0,159,206,4,10898.0,72.0,0.0,369.0,2.460000
Tunisia,347157,26648.0,94,206,8,1934.0,10.0,0.0,362.0,1.000000
Maldives,175647,11412.0,95,89,0,28864.0,6.0,0.0,350.0,9.000000
Mongolia,209083,14231.0,108,75,4,83826.0,32.0,0.0,346.0,0.000000
Zambia,918450,56553.0,73,115,3,3983.0,91.0,0.0,327.0,7.000000
Korea (Republic of),260658,16596.0,100,96,0,7865.0,13.0,0.0,320.0,0.000000
Oman,254316,18009.0,76,128,3,4802.0,5.0,0.0,313.0,10.000000
Rwanda,270412,20576.0,82,126,7,3088.0,39.0,0.0,287.0,8.000000
Jamaica,191772,12495.0,81,86,4,8491.0,199.0,0.0,279.0,-1.333333
Costa Rica,76788,6046.0,144,122,3,3580.0,25.0,0.0,261.0,8.000000
Paraguay,256852,18154.0,130,78,6,11127.0,109.0,0.0,261.0,7.160000
Russian Federation,270348,20568.0,94,79,0,1512.0,1.0,0.0,251.0,5.923770
Zimbabwe,714406,44017.0,53,108,4,7927.0,113.0,0.0,241.0,6.000000
Tanzania,230085,17609.0,51,93,6,3031.0,209.0,0.0,236.0,1.333333
Macedonia,174735,11172.0,46,86,4,2245.0,420.0,0.0,213.0,3.000000
Puerto Rico,167460,12576.0,66,101,2,2204.0,12.0,0.0,206.0,3.000000
Ivory Coast,136950,8915.0,68,87,1,1396.0,6.0,0.0,195.0,1.150000
Albania,21,13.0,63,105,1,857.0,127.0,0.0,176.0,2.000000
Central African Republic,28422,2332.0,25,29,0,1158.0,0.0,0.0,151.0,2.000000
Cambodia,52488,4122.0,62,135,1,2051.0,1.0,0.0,134.0,3.000000
Taiwan (Province of China),115023,8793.0,39,51,0,1556.0,3.0,0.0,132.0,-0.092000
Algeria,24,14.0,27,23,2,542.0,12.0,0.0,108.0,-3.000000
Mali,58557,3808.0,27,48,0,3654.0,0.0,0.0,105.0,0.000000
Sudan,149062,11358.0,40,50,3,2157.0,115.0,0.0,101.0,2.000000
Kyrgyzstan,86904,5541.0,24,47,2,1604.0,8.0,0.0,93.0,0.000000
Burundi,11653,914.0,2,46,2,1198.0,8.0,0.0,92.0,0.000000
Cte d'Ivoire,17123,1368.0,28,26,0,596.0,0.0,0.0,88.0,0.000000
South Sudan,70135,5298.0,5,23,0,306.0,0.0,0.0,82.0,3.000000
Anguilla,31,22.0,32,17,0,506.0,1.0,0.0,74.0,2.000000
Angola,60,50.0,54,78,5,337.0,81.0,0.0,73.0,-6.000000
Iraq,75084,4796.0,21,73,0,5867.0,0.0,0.0,71.0,0.840331
Honduras,33843,2612.0,27,29,1,1080.0,44.0,0.0,65.0,-2.000000
Botswana,4373,285.0,17,4,0,3714.0,1.0,0.0,59.0,2.000000
Chad,7108,584.0,12,26,0,167.0,0.0,0.0,54.0,0.000000
North Korea,63323,4454.0,6,4,0,124.0,0.0,0.0,54.0,-2.000000
Republic of the Congo,33526,2522.0,15,1,1,18730.0,5.0,0.0,54.0,0.000000
Tajikistan,76687,5865.0,28,23,1,123.0,3.0,0.0,48.0,0.105573
Burkina Faso,5825,456.0,13,20,0,554.0,0.0,0.0,45.0,2.000000
Syria,37953,2924.0,23,21,0,347.0,0.0,0.0,45.0,0.000000
Haiti,16920,1304.0,13,28,1,1345.0,3.0,0.0,44.0,0.000000
Malawi,29126,1867.0,3,3,0,1249.0,0.0,0.0,44.0,0.000000
Macao,29119,1861.0,23,17,1,39.0,8.0,0.0,44.0,-1.000000
Armenia,1211,151.0,19,32,1,197.0,24.0,0.0,43.0,0.000000
Solomon Islands,34183,2609.0,20,5,0,1688.0,0.0,0.0,41.0,0.000000
Montenegro,29873,2034.0,21,10,1,208.0,14.0,0.0,41.0,0.000000
Sao Tome and Principe,33825,2575.0,8,1,0,539.0,0.0,0.0,37.0,0.200000
Benin,4331,271.0,15,15,1,157.0,1.0,0.0,37.0,0.000000
Congo,8527,669.0,7,24,0,678.0,0.0,0.0,32.0,0.000000
Greenland,16884,1290.0,6,16,1,39.0,13.0,0.0,31.0,0.000000
Senegal,33906,2584.0,6,9,0,192.0,0.0,0.0,25.0,0.400000
Kazakhstan,28798,1828.0,2,9,1,384.0,2.0,0.0,24.0,0.000000
Guyana,16919,1303.0,8,11,1,14.0,16.0,0.0,23.0,0.000000
Namibia,29951,2049.0,10,9,0,397.0,0.0,0.0,23.0,1.000000
Bolivia (Plurinational State of),4358,279.0,15,19,0,226.0,0.0,0.0,22.0,1.000000
Palestinian Territory,32052,2261.0,14,1,1,1072.0,77.0,0.0,20.0,0.000000
Moldova,29865,2031.0,14,23,1,12.0,60.0,0.0,18.0,0.000000
Papua New Guinea,32102,2267.0,18,16,1,131.0,3.0,0.0,18.0,0.000000
Turkmenistan,39586,2995.0,17,12,0,1022.0,0.0,0.0,16.0,0.000000
Democratic Republic of the Congo,8719,710.0,20,16,1,6.0,15.0,0.0,11.0,0.000000

In [36]:
df_weekday_traffic = df.groupby("Weekday").sum(numeric_only = True).sort_values(by=['Reach', 'Likes', 'Klout'], ascending= [False,False,False])
df_weekday_traffic

,Unnamed: 0,LocationID,Hour,Day,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment
Weekday,,,,,,,,,,
Thursday,962470860,53173336.0,221828,329444,6646,200359283.0,139680.0,3114.0,759076.0,6460.415230
Tuesday,978699246,54171904.0,215856,269848,6668,172573340.0,143249.0,2702.0,757555.0,7516.438992
Wednesday,939185380,52421875.0,213893,292189,6703,161359812.0,167734.0,2889.0,748158.0,6957.778812
Monday,799055235,44343099.0,185735,253606,5478,133228791.0,109546.0,2575.0,643351.0,6346.952863
Friday,784393763,43329488.0,163034,229343,5347,118462343.0,120936.0,2307.0,618047.0,6678.829139
Saturday,385512404,21692242.0,82249,121380,2817,40434091.0,68293.0,1123.0,306402.0,2450.263527
Sunday,358958003,20337085.0,82560,126844,2551,33596480.0,65675.0,567.0,291735.0,2449.787071

In [41]:
peak_hours = df.groupby('Hour').mean(numeric_only = True).sort_values(by=['Reach', 'Likes', 'Klout'], ascending=[False,False, False])
peak_hours

,Unnamed: 0,LocationID,Day,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment
Hour,,,,,,,,,
16,53048.771584,2905.964585,15.975272,0.371123,14629.759011,6.716681,0.503772,41.733864,0.357209
11,54954.227287,3002.589098,16.038572,0.329774,12170.019286,5.952662,0.228562,41.288811,0.414090
14,54484.342615,2956.545437,16.861900,0.366322,11678.807526,7.059266,0.228975,41.125682,0.415652
12,54536.873985,2990.678281,16.028078,0.354702,11483.405616,5.973951,0.356732,40.791272,0.461935
15,54272.540946,2972.113802,15.701845,0.367166,11277.038447,6.887735,0.276240,41.027489,0.382224
10,54897.637730,2987.368185,16.422542,0.360192,11139.278177,7.957474,0.198082,41.368985,0.402211
1,38383.838028,2322.885723,15.772087,0.404609,10297.075224,9.787452,0.046735,39.852433,0.367843
18,54855.023243,2973.377297,15.986216,0.394054,9547.795676,5.954324,0.141892,39.779730,0.378135
19,53321.434135,2916.406071,15.924112,0.376289,9418.160367,14.321879,0.265178,39.835338,0.286334
17,53401.064953,2905.713802,15.890167,0.374380,9167.604646,6.460983,0.200496,40.596752,0.379734
13,54362.392489,2959.261230,16.190538,0.368004,8965.648196,7.097938,0.189433,41.261414,0.418873
20,53755.433665,2937.657565,15.937681,0.398651,8355.719884,8.749759,0.091230,38.514616,0.290700
9,56096.893902,3055.666336,15.439431,0.329037,8144.883986,7.131218,0.154520,40.798380,0.390982
8,56026.672576,3041.649307,15.263712,0.318560,7456.530194,6.347184,0.030471,40.728532,0.346079
0,42283.663966,2476.150053,15.652342,0.400845,6962.440648,11.022543,0.026770,38.266291,0.313258
2,39131.400998,2405.128469,16.296227,0.341752,5957.912067,9.947303,0.001559,39.682881,0.408448
7,52895.750600,2920.763000,15.376600,0.297800,5314.580000,9.646200,0.039200,40.311600,0.418112
6,49216.516579,2783.873314,15.476103,0.298879,4917.498285,7.733364,0.012349,40.669335,0.381126
23,42098.942529,2440.624521,16.027203,0.412644,4394.950192,11.787356,0.014943,38.302299,0.361495
22,45484.330930,2584.152487,15.899784,0.424297,3992.822639,11.681327,0.019106,39.614636,0.343666
3,39893.234547,2404.314066,15.824925,0.305379,3499.764116,9.196793,0.020715,39.840628,0.374920
21,48617.583526,2701.089315,15.652332,0.407873,3368.851472,9.606021,0.015217,39.744294,0.319715
5,45072.601961,2628.780112,15.754342,0.297199,3150.335854,6.050420,0.001961,39.333053,0.378118
4,41714.805468,2485.858265,15.954745,0.320239,2744.920490,8.206474,0.000000,39.906034,0.367622

In [47]:
df.agg({'TweetID': ['sum', 'max'], 'text': 'mean'}).sort_values(by='TweetID', ascending=False)

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\moham\Downloads\tweets-engagement-metrics.csv")
df

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [7]:
df.drop_duplicates()

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open Â AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

df.groupby(['TweetId', 'text']).max(numeric_only = True).sort_values(by='TweetID', ascending = False)

In [13]:
df.groupby(['text','TweetID','Reach']).max(numeric_only = True).sort_values(by='TweetID', ascending=False)

,,,Unnamed: 0,LocationID,Hour,Day,IsReshare,RetweetCount,Likes,Klout,Sentiment
text,TweetID,Reach,,,,,,,,,
Great turn out for the AWS Plant Sale and the Friends of Historic Northport's Bake sale this morning in Downtown Northport !,tw-716352771209887744,2422.0,95135,4007.0,13,2,False,1.0,0.0,34.0,3.0
RT @goserverless: Serverless Offline: Emulate AWS Lambda &amp; API Gateway locally to speed up your development cycles - https://t.co/CcXASlhQq,tw-716352501860196352,287.0,80845,3795.0,13,2,True,30.0,0.0,42.0,0.0
RT @awscloud: Test your iOS Android &amp; web apps against real phones and tablets on AWS. Start today for free! Â https://cards.twitter.com/cards/13rc8b/1ihbc,tw-716351557516722176,122.0,21302,1336.0,13,2,True,435.0,0.0,17.0,1.0
I added a video to a @YouTube playlist https://www.youtube.com/watch?v=YPf7wSEq9d0&feature=youtu.be&a Module 3 : AWS EC2 Instance Status Checks (System and Instance level),tw-716349615340199937,763.0,19345,1332.0,13,2,False,0.0,0.0,29.0,0.0
RT @iiManjula: Dekhana thoda dhirese darlingmene kabhi bhi piche nahi karvaya heohhh please thoda dhire aaahhhh please Â https://t.co/BT,tw-716349486742700032,1143.0,23577,1349.0,13,2,True,1.0,0.0,49.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
Amazon is hiring! #Sr. #International Tax Manager - AWS in #Seattle apply now! #jobs http://neuvoo.com/job.php?id=dsvkrujig3&source=twitter&lang=en&client_id=658&l=Seattle%20Washington%20US&k=Sr.%20International%20Tax%20Manager%20-%20AWS http://twitter.com/NeuvooAccSea/status/682714048199311366/photo/1,tw-682714048199311366,953.0,58401,3751.0,17,31,False,0.0,0.0,47.0,0.0
Happy New Year to all those AWS instances of ours!,tw-682713436967579648,2087.0,67901,3753.0,17,31,False,4.0,0.0,53.0,0.0
Devops Engineer Aws Ansible Cassandra Mysql Ubuntu Ruby On Rails Jobs in Austin TX #Austin #TX #jobs #jobsearch https://www.jobfindly.com/devops-engineer-aws-ansible-cassandra-mysql-ubuntu-ruby-on-rails-jobs-austin-tx.html,tw-682713219375476736,282.0,54367,3741.0,17,31,False,0.0,0.0,47.0,0.0
RT @CodeMineStatus: This is true Amazon Web Services https://aws.amazon.com/ #php #html #html5 #css #webdesign #seo #java #javascript htt,tw-682713045357998080,1810.0,94532,3989.0,17,31,True,5.0,0.0,53.0,2.0
We are hiring: Senior Software Engineer - Proto http://www.reqcloud.com/jobs/719865/?k=0LaPxXuFwczs1e32ZURJKrgCIDMQtRO7BquFSQthUKY&utm_source=twitter&utm_campaign=reqCloud_JobPost #job @awscloud #job #protocol #networking #aws #mediastreaming,tw-682712873332805633,44.0,57315,3751.0,17,31,False,0.0,0.0,35.0,0.0

In [21]:
df[['TweetID', 'text', 'RetweetCount']].sort_values(by='RetweetCount', ascending=False)

,TweetID,text,RetweetCount
98345,tw-700865627364392960,RT @Chargers: soo hungry need to find my wife ...,26127.0
100722,tw-707929034768850944,RT @2319guy: if I had this set of teeth I woul...,13195.0
100723,tw-707941144051654656,RT @LifeWithAlcohol: Spring break forecast htt...,2065.0
60084,tw-704537807935549441,Test your iOS Android &amp; web apps against r...,782.0
59832,tw-695374760021090304,Learn how to set up Parse Server on AWS using ...,637.0
...,...,...,...
54508,tw-707365400112205824,How To Build Fault Tolerant Cross-Region #AWS ...,0.0
54510,tw-707729014069268481,Benchmarking: Analyzing #AWS m3 Instances for ...,0.0
54511,tw-708044855025524738,Using Enhanced #RDS Monitoring with #Datadog |...,0.0
54512,tw-708301483167588353,Flatiron Health Â Using #AWS to Help Improve Ca...,0.0
51031,tw-701836621688262657,Discover how to host private &amp; scalable Gi...,0.0

In [23]:
df['Hour'].apply(lambda x: pd.to_datetime(x))

0        1970-01-01 00:00:00.000000007
1        1970-01-01 00:00:00.000000011
2        1970-01-01 00:00:00.000000006
3        1970-01-01 00:00:00.000000010
4        1970-01-01 00:00:00.000000009
                      ...
102057   1970-01-01 00:00:00.000000010
102058   1970-01-01 00:00:00.000000005
102059   1970-01-01 00:00:00.000000000
102060   1970-01-01 00:00:00.000000008
102061   1970-01-01 00:00:00.000000012
Name: Hour, Length: 102062, dtype: datetime64[ns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102062 entries, 0 to 102061
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    102062 non-null  int64
 1   UserID        102062 non-null  object
 2   Gender        102062 non-null  object
 3   LocationID    102062 non-null  float64
 4   City          99783 non-null   object
 5   State         100165 non-null  object
 6   StateCode     100336 non-null  object
 7   Country       102062 non-null  object
 8   TweetID       102062 non-null  object
 9   Hour          102062 non-null  int64
 10  Day           102062 non-null  int64
 11  Weekday       102062 non-null  object
 12  IsReshare     102062 non-null  bool
 13  Reach         102062 non-null  float64
 14  RetweetCount  102062 non-null  float64
 15  Likes         102062 non-null  float64
 16  Klout         102062 non-null  float64
 17  Sentiment     102062 non-null  float64
 18  Lang          102062 non-null  object
 19  text          102062 non-null  object
dtypes: bool(1), float64(6), int64(3), object(10)
memory usage: 14.9+ MB

In [25]:
df["Hour"]

0          7
1         11
2          6
3         10
4          9
          ..
102057    10
102058     5
102059     0
102060     8
102061    12
Name: Hour, Length: 102062, dtype: int64

In [27]:
df["Hour"] = df["Hour"].apply(lambda x: str(x))

In [29]:
df["Hour"] = df['Hour'].apply(lambda x: x + ':' + '0' + '0')

In [31]:
df[["Gender", "Reach", "Hour"]].sort_values(by='Reach', ascending=False)

         Gender       Reach   Hour
53032      Male  10342452.0   1:00
53079      Male   8196371.0   0:00
67044   Unknown   6485485.0  20:00
67043   Unknown   6482073.0  10:00
67042   Unknown   6425442.0   2:00
...         ...         ...    ...
94970      Male         0.0  22:00
44761    Unisex         0.0   9:00
24307    Unisex         0.0  20:00
101049  Unknown         0.0  11:00
32652    Female         0.0   6:00

[102062 rows x 3 columns]

In [32]:
df["Gender"].count()

102062